.header{
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 50px;
    padding-left: 20px;

    
}

.app-name {
    font-size: 70px;
}

.cart {
    width: 25vw;
    height: 89vh;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 11vh;
    right: 10px;
    z-index: 1;
}

.cart > h2 {
    margin-top: 5px;
    font-size: 40px;
}

.noCart {
    display: none;
}

.cart-btn{
    outline: none;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 30px;
    margin-bottom: 10px;

}

.total{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom:10px;
}

.total > button {
    background-color: transparent;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px 10px;

}

.total > p {
    margin-right: 40px;
    font-size: 25px;
}

.cart-item {
    width: 80%;
    display: flex;
    margin-bottom: 15px;
}

.cart-item > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-transform: uppercase;

}

.cart-item > p {
    font-size: 1.2rem;

}

.cart-item > img {
    height: 100px;
    width: 100px;
}

.remove {
   background-color: transparent; 
   margin: 0 3px;
   border-radius: 5px;
   border: 2px solid black;
   font-size: 15px;
}

.up-down{
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 15px;
}




